<!DOCTYPE html>
<html>
    <head>
        <title>Flotte Lotte!</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" href="/resources/simple.css">
        <meta http-equiv="refresh" content="3; URL='/'" />
    </head>
    <body>
        <%- include('loginHeader', {email: email}); %>
	<p><a href="/addTrip">Fahrt anlegen</a></p>
	<p>Meldungen: <%=messages %></p>
    <p><h3>Fahrten:</h3><ul>
        <% trips.forEach(function(item) { %>
            <li>
                <a class="<% if (item.match) { %>match<% } else { %>nomatch<% } %>"<" href="/showTrip?tripID=<%= item.id %>" ><%= item.point_of_departure %> -> <%= item.destination %></a>
            </li>
        <% }); %>
    </ul></p>
    <p><a href="/logout">Logout</a></p>
    </body>
</html>
