<!DOCTYPE html>
<html>
    <head>
        <title>Flotte Lotte!</title>
    </head>
    <body>
        <%- include('loginHeader', {email: email}); %>
	<p><a href="/addTrip">Fahrt anlegen</a></p>
	<p>Meldungen: <%=messages %></p>
    <p><h3>Fahrten:</h3><ul>
        <% trips.forEach(function(item) { %>
            <li>
                <a href="/showTrip?tripID=<%= item.id %>" ><%= item.point_of_departure %> -> <%= item.destination %></a>
            </li>
        <% }); %>
    </ul></p>
    <p><a href="/logout">Logout</a></p>
    </body>
</html>
